<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <div class="container">
        <h1><span id="title-box">R2D2 Communicator</span></h1>
        <div class="dashboard">
        <ng-container *ngIf="!qwerty">
          <ng-container *ngFor="let key of azertyLayout; let i = index">
            <button (click)="playSound(key.keyPressed)" class="btn btn-primary"><span class="key-label">{{ key.keyLabel }}</span><br>{{ key.label }}</button>
            <br *ngIf="i === 2 || i === 5 || i === 8">
          </ng-container>
        </ng-container>
        <ng-container *ngIf="qwerty">
        <ng-container *ngFor="let key of qwertyLayout; let i = index">
            <button (click)="playSound(key.key)" class="btn btn-primary"><span class="key-label">{{ key.key }}</span><br>{{ key.label }}</button>
            <br *ngIf="i === 2 || i === 5 || i === 8">
          </ng-container>
        </ng-container>
      </div>
    </div>
  </body>
</html>

