button{
    margin : 5%;
    min-width: 20%;
}

.container{
    text-align: center;
}

h1{
    text-align: center;
    font-weight: bold;
    font-size: 5vw;
}

#title-box{
    border: solid;
    border-color: white;
    padding: 10pt;
}

.container{
    margin: 10%;
}

.dashboard{
    padding: 10%;
}

.key-label{
    font-weight: bold;
}